# Ignore __pycache__ directories
__pycache__/
*.pyc

# Ignore virtual environment directories
# Adjust the directory name if your virtual environment directory has a different name
venv/
venv_new/
env/

# Ignore the data inside the temporary folder
/temporary_files/*
!.gitkeep

# Ignore the RandomSearchResults
ss24_capstone_team23_datallah_nkitts_steveso/LSTM/hyperparam_tuning